.buttonBasket{
    margin-top: 25px;
    background-color: #1d1f20;
    border: 2px solid #202020;
    color: white;
    height: 30px;
}

.buttonBasket:disabled{
    margin-top: 25px;
    background-color: rgb(68, 68, 68);
    color: white;
    height: 30px;
}