.pBig {
    height: 300px;
    width: 300px;
}

.pSmall {
    height: 50px;
    width: 50px;
}

.pContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallPContainer {
    display: flex;
    list-style: none;
    margin: 15px 5px;
}
