.pBig {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(199, 199, 199);
}

.pSmall {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(199, 199, 199);
    margin: 1px;
}

.pContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
}

.smallPContainer {
    display: flex;
    list-style: none;
}
