.label {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    padding: 11px 5px;
    width: auto;
    min-width: 80px;
    height: 14px;
    border: 1px solid #d7d9da;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    font-weight: bold;
    border: 1px solid #000000;
}

input[type="radio"]:disabled + label {
    background: linear-gradient(159deg, #fff 10%, #fff 52%, #bebebe 35%, #bebebe 55%, #fff 10%);

    display: inline-block;
    position: relative;
    pointer-events: none;
    color: #6e6e6e;
}
