.product {
  display: flex;
  padding: 7%;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
}

.barem {
  background-color: rgb(233, 232, 232);
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.span{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  position: relative;
}

img{
  padding: 5px;
}