.selectableAttribute {
    width: 35%;
}

.row {
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
}

.name {
    padding-right: 6px;
    font-weight: 700;
    text-transform: uppercase;
}
